<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an Associate Professor of Data Analytics at Denison University, a growing interdisciplinary major taught from a liberal arts perspective. In Data Analytics, we combine data wrangling, statistical analytical approaches, and programming skills with foundations in ethics, communication, and creative problem solving. I’m excited to be here joining my passions of teaching reproducible research and data skills with ecological investigation.</p>
      </div>
      <div class="col-lg-4">
        <p>I teach and develop courses in the Data Analytics Program. In these classes we work on core skills for data science, using hands-on problem-based learning techniques. In my research, I’m broadly interested in understanding biodiversity change and animal movement across space and through time. I’m generally interested in unifying theories, community ecology, natural history, and how we can improve data education for biology undergraduates.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://denison.edu/people/sarah-supp" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Visit Denison webpage
        </a>
      </div>
    </div>
  </div>
</section>
